import {createGlobalStyle} from "styled-components";

export const GlobalStylr=createGlobalStyle

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Work Sans', sans-serif;
};

.html{
    font-size: 62.5%;
    overflow: hidden;
}
